.h3{
    text-align: center;
    
    border: 3px solid red;width:70%;
    background-color: aqua;
     padding-left: 20%;
}
h2,legend{
    border:3px dashed blue;width: 30%;;
    background-color: #DDDDDD;
    font-size: 20px;
}
h1{
    text-align: center;
    border: 5px solid red;width:50%;
    background-color: aqua;
}
p{
    border:2px solid red;
    background-color: chartreuse;
}

button{
    text-align:center;

    border:px solid greenyellow ;
    background-color:grey;
    
}
table{
    background-color: aquamarine;
    border:3px double blue
}
img{
    background-color:red;
    border:20px ridge #B31312

}
#logo{
    
    border:30px ridge #060047;
    background-color: #B08BBB;


}
.im{
    border:2px dotted ;
    background-color: blueviolet;
}
span{
    font-size: 25px;

}
#first{
    font-size: 35px;

}
li{
    text-align: center;
    background-color: #F09AE9;
}
table{
    font-size: 19px;
}
.edu{
    padding-top: 5%;
    padding-left: 25%;
}
th{
    font-size: 23px;
    background-color: #F8F988;
}
.div3{
    font-size: 19px;
    background-color:aqua ;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20%;
}
fieldset{
    
    background-color:#F3CCFF

}
.pro1{
   
    background-color:#FF55BB;
    padding-right: 20%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-top: 2%;
}
.pro2{
   
    background-color:#FF55BB;
    padding-left: 20%;
    padding-right: 2%;
}
.c1{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 80%;
    
    background-color: aqua;
    font-size: 20px;
    
}
.c2{
    padding-left: 15%;
    padding-right:20%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color:plum;
    font-size: 20px;
}
.c3{
    padding-left: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color:darkmagenta;
    font-size: 20px;
    
}
.div1{
    border:1px dashed grey;
    background-color: cyan;
}
.div2{
    border:1px dashed grey;
    background-color: greenyellow;

}
.div4{
    border:1px dotted grey;
    background-color: #D09CFA;
}
form{
    font-size:15px
	border:6px dotted purple;
}
.nav{
    font-size: 20px;
    background-color: #B08BBB;
    padding-left: 65%;
    
    
}
.next{
    padding-left: 97%;
}
marquee{
    padding-top:5px;
    background-color:darkgreen;
    border:8px dotted red;
}
